#novoPoligono
{
    grid-template-rows:auto 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "x x"
    ". ."
    ". ."
    ". ."
    ". .";
}
#perfilI,#perfilCircular,#perfilRetangular,#perfilElipsoidal
{
    grid-template-rows:auto 200px 20px 20px 20px 20px 20px 20px 20px 20px 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "x x x"
    "img img img"
    ". . ."
    "lb1 lb2 lb3"
    "ip1 ip2 ip3"
    ". . ."
    "lb4 lb5 lb6"
    "ip4 ip5 ip6"
    ". . ."
    ". lbn ."
    ". ipn ."
    "btn btn btn"
    ;
    place-items:center;
}
.janela img
{
    height: 100%;
    grid-area:img;
}
.janela button
{
    grid-area:btn;
}
.input1, .input2, .input3, .input4, .input5, .input6,.inputname
{
    background:var(--corTexto);
    color:var(--corTexto);
    outline:none;
    border:none;
    height:100%;
}
.label1, .label2, .label3, .label4, .label5, .label6, .labelname
{
    color:var(--corTexto);
    font-weight: bolder;
    margin:0px;
    text-align:left;
}
.labelname{grid-area:lbn;}
.label1{grid-area:lb1;}
.label2{grid-area:lb2;}
.label3{grid-area:lb3;}
.label4{grid-area:lb4;}
.label5{grid-area:lb5;}
.label6{grid-area:lb6;}
.inputname{grid-area:ipn;}
.input1{grid-area:ip1;}
.input2{grid-area:ip2;}
.input3{grid-area:ip3;}
.input4{grid-area:ip4;}
.input5{grid-area:ip5;}
.input6{grid-area:ip6;}